@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">

    <div class="row">
        <div class="col-md-12">
            <h2>Welcome!</h2>
            <h3>Contact List Management Applications</h3>
        </div>

    </div>
</div>